*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* background: rgb(27,160,195);
background: linear-gradient(180deg, rgba(27,160,195,1) 50%, rgba(8,6,6,0.9500175070028011) 100%); */
height: 100vh;
}
.buttons{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 4rem;
    top: 0;
    z-index: 10000;
    /* background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.8995973389355743) 26%, rgba(7,77,119,1) 83%); */
}
.buttons.hidden{
    display: none;
}
.formularios.hidden{
    display: none;
}
.formularios{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 4rem;
    top: 0;
    /* background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.8995973389355743) 26%, rgba(7,77,119,1) 83%); */
}
.login-register-buttons{
    padding: 0.5rem;
    border-radius: 10px;
}
#index form{
    display: none;
}
#index form.active{
    display: block;
}
#empleados .insertar-empleado{
    height: 100dvh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    backdrop-filter: blur(4.5px);
}
#empleados .insertar-empleado.mostrar{
    display: flex;
}
#empleados #close-form-empleado{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
#empleados .alert-danger{
    position: absolute;
    top: 50%;
    left: 50%
}
#empleados .tabla-empleados{
    display: flex;
    justify-content: center
}
table td,th{
    padding: 1rem;
}
 table{
    text-align: center
}
 table:not(#calendario) thead, tr{
    border-bottom: 2px solid black;
}
#calendario th, td{
    border-right: 1px solid black;
}
#calendario tr:last-child,td:last-child{
    border: none;
}
#calendario th:last-child{
    border-right: none;
}
.color-principal{
    color: ;
}
.color-secundario{
    color: ;
}
.bg-principal{
    background-color: ;
}
.bg-secundario{
    background-color: ;
}
td.festivo{
    background-color: red;
}



.dia_calendario{
    display:flex;
    height:100%;
    min-height:1.875rem;
    width:100%;
    min-width:1.875rem;
    cursor:default;
    align-items:center;
    justify-content:center;
    border-radius:.5rem;
    border-width:0px;
    font-size:.75rem;
    line-height:1rem;
    font-weight:400;
}
.capa{
    position: relative;
}
.capa::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.353);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
}
nav.navbar{
    background-color: rgba(37,27,25,1);
}
nav.navbar a.navbar-brand{
    width: 10%;
}
nav.navbar a.nav-link, nav.navbar input{
    color: rgba(245,208,101,1);
    text-transform: uppercase;
    font-weight: bolder;
    transition: color .4s;
}
nav.navbar a.nav-link:hover, nav.navbar input:hover{
    color: white;
    transition: color .4s;
}